@model SistemaPrimaria.Models.Materia

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>¿Estás seguro de que deseas eliminar esta materia?</h3>
<div>
    <h5>Datos de la materia</h5>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <strong>Nombre:</strong>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
