@model IEnumerable<SistemaPrimaria.Models.Materia>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de materias vigentes</h1>

<p>
    <a asp-action="Create">Agregar nueva materia</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <strong>Nombre:</strong>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Información" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Eliminar" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
