<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SistemaPrimaria</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/sidebar.css" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SistemaPrimaria</a>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial.cshtml">
                </div>
            </div>
        </nav>
    </header>
    <div class="sidebar">
        <div class="logo-details">
            
            <div class="logo_name">SistemaPrimaria</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">

            <li>
                <a asp-controller="Estudiantes" asp-action="Index">
                    <i class='bx bxs-user-circle'></i>
                    <span class="links_name">Alumnos</span>
                </a>
                <span class="tooltip">Alumnos</span>
            </li>
            <li>
                <a asp-controller="Materias" asp-action="Index">
                    <i class='bx bx-book-open'></i>
                    <span class="links_name">Materias</span>
                </a>
                <span class="tooltip">Materias</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-group'></i>
                    <span class="links_name">Grupos</span>
                </a>
                <span class="tooltip">Grupos</span>
            </li>
            <li>
                <a asp-controller="Calificaciones" asp-action="Create">
                    <i class='bx bx-notepad'></i>
                    <span class="links_name">Calificaciones</span>
                </a>
                <span class="tooltip">Calificaciones</span>
            </li>
            <li>
                <a asp-controller="Maestros" asp-action="Index">
                    <i class='bx bx-user-pin'></i>
                    <span class="links_name">Maestros</span>
                </a>
                <span class="tooltip">Maestros</span>
            </li>
            
            <li class="profile">
            <div class="profile-details">
                <div class="name_job">
                    <div class="name">Sistema Primaria</div>
                    <div class="job">Enjoy!</div>
                </div>
            </div>
            <i class='bx bxs-book-content' id="log_out"></i>
            
            </li>
        </ul>
    </div>
    <div class="home-section">
        <main role="main" class="pb-3 text">
            @RenderBody()
        </main>
    </div>
    <script>
        let sidebar = document.querySelector(".sidebar");
        let closeBtn = document.querySelector("#btn");
        let searchBtn = document.querySelector(".bx-search");

        closeBtn.addEventListener("click", () => {
            sidebar.classList.toggle("open");
            menuBtnChange();//calling the function(optional)
        });

        searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search iocn
            sidebar.classList.toggle("open");
            menuBtnChange(); //calling the function(optional)
        });

        // following are the code to change sidebar button(optional)
        function menuBtnChange() {
            if (sidebar.classList.contains("open")) {
                closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
            } else {
                closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");//replacing the iocns class
            }
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
