@model SistemaPrimaria.Models.Calificacion

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> estudiantes = (List<SelectListItem>)ViewBag.estudiantes;
    List<SelectListItem> materias = (List<SelectListItem>)ViewBag.materias;

}

<h1>Asignar Calificaciones</h1>

<h5>Apartado para asignar la Calificación</h5>



<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="calificacion" class="control-label"><strong>Calificación:</strong></label>
                <input asp-for="calificacion" class="form-control" />
                <span asp-validation-for="calificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DropDownList("IdEstudiante", estudiantes , "Selecciona el estudiante", new { @class = "form-control" })

                <span asp-validation-for="IdEstudiante" class="text-danger"></span>
            </div>
            <div class="form-group">

                 @Html.DropDownList("IdMateria", materias , "Selecciona la materia", new { @class = "form-control" })
                <span asp-validation-for="IdMateria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Asignar Calificación" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
        
        
        
        }
}
