@model SistemaPrimaria.Models.Grupo

@{
    ViewData["Title"] = "Agregar grupo";
    List<SelectListItem> maestros = (List<SelectListItem>)ViewBag.maestros;
}

<h1>Agregar un nuevo grupo</h1>

<h4>Apartado para agregar un grupo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="NombreGrupo" class="control-label"><strong>Nombre del grupo:</strong></label>
                <input asp-for="NombreGrupo" class="form-control" />
                <span asp-validation-for="NombreGrupo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <strong>Lista de maestros</strong>
                @Html.DropDownList("IdMaestro", maestros, "Selecciona el maestro", new { @class = "form-control" })
                <span asp-validation-for="IdMaestro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar grupo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
