@model SistemaPrimaria.Models.Grupo

@{
    ViewData["Title"] = "Details";
}

<h1>Información </h1>

<div>
    <h4>Grupo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <strong>Grado:</strong>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grado)
        </dd>
        <dt class = "col-sm-2">
            <strong>Nombre del grupo:</strong>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreGrupo)
        </dd>
        <dt class = "col-sm-2">
            <strong>ID maestro:</strong>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMaestro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
