

@{
    ViewData["Title"] = "Index";
    List<List<string>> datosGrupos = (List<List<string>>)ViewBag.datosGrupos;
    List<int> gruposId = new List<int>();
    foreach (var item in ViewBag.grupos)
    {
        gruposId.Add(item.Id);
    }
}

<h1>Lista de grupos</h1>

<p>
    <a asp-action="Create">Agregar un nuevo grupo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <strong>Nombre del grupo:</strong>
            </th>
            <th>
                <strong>Maestro asignado:</strong>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < datosGrupos.Count; i++)
        {
            <tr>
                <td>
                    @datosGrupos[i][0]  @* Nombre grupo*@
                </td>
                <td>
                    @datosGrupos[i][1]  @* Maestro asignado*@
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@gruposId[i]">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@gruposId[i]">Eliminar</a>

                </td>
            </tr>
        }
    </tbody>
</table>
