@model IEnumerable<SistemaPrimaria.Models.Grupo>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de grupos</h1>

<p>
    <a asp-action="Create">Agregar un nuevo grupo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <strong>Nombre del grupo:</strong>
            </th>
            <th>
                <strong>Maestro asignado:</strong>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreGrupo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMaestro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
               
            </td>
        </tr>
}
    </tbody>
</table>
