@{
    ViewData["Title"] = "Pagina de Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="text-center">

    <div class="container">
        <ul class="slider">
            <li id="slide1">
                <img src="https://www.collinsdictionary.com/images/full/school_309241295.jpg" alt="SEC" width="200" height="200" />
            </li>
            <li id="slide2">
                <img src= ""  alt="SEC" />
            </li>
            <li id="slide3">
                <img src="" alt="SEC" />
                <h1 align="center"> SEC </h1>
                <p>
                    Somos especializados en la gestión de los sistemas escolares,
                    para el buen control y desarrollo de la primaria, teniendo en cuenta
                    todos los aspectos que necesita un administrador para dicha tarea.
                </p>
</ul>

        <ul class="menu">

            <li>
                <a href="#slide1"> 1</a>
            </li>

            <li>
                <a href="#slide2"> 2</a>
            </li>
            <li>
                <a href="#slide2"> 3</a>
            </li>
        </ul>

    </div>



</div>
