@{
    ViewData["Title"] = "Pagina de Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<div class="containerIndex">
    <div class="content">
        <h1 align="center"> SEC </h1>
        <h5 align="center"> Sistema Escolar de Calificaciones</h5>
        <p align="center">
            Somos especializados en la gestión de los sistemas escolares,
            para el buen control y desarrollo de la primaria, teniendo en cuenta
            todos los aspectos que necesita un administrador para dicha tarea. Teniendo como estandar la excelencia en cada uno de los procesos que se soliciten.
        </p>

        <img class="img" src="https://i.ibb.co/t3jV9sZ/class-g6545edb85-1280.jpg" alt="SEC" />
    </div>
    



</div>



