@{
    ViewData["Title"] = "Pagina de Inicio";
    

}



    <div class="containerIndex">
        <ul class="slider">
            <li id="slide1">

                <h1 align="center"> SEC </h1>
                <h5 align="center"> Sistema Escolar de Calificaciones</h5>
                <p align="center">
                    Somos especializados en la gestión de los sistemas escolares,
                    para el buen control y desarrollo de la primaria, teniendo en cuenta
                    todos los aspectos que necesita un administrador para dicha tarea.
                </p>

                <img src="https://pixabay.com/get/g1e399616e25963d98aece274ab00d50edaf7a98e12325973bd238487817b33279ee027e3d9ea81e1514dadad233a1a7c4e6c51d846f310e90c239877087005fbe09d7aab470db6293c56ce40ea50e18e_1920.jpg" alt="SEC" />

            </li>
        </ul>

        

    </div>



